body {
  
    font-family: 'Times New Roman', Times, serif;
   background-color: #afc449;
   background-color: #b8eaff;
   background-color: #c783d0;
   background-color:#2b9a51;
   background-color: #f86e25;
   background-color: rgb(231 129 255 / 54%);
    margin: 0;
    padding: 0 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 23px;
    line-height: 1.4;
   
}
body::-webkit-scrollbar {
    display: none;
  }

  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
a {  text-decoration: none; }
a:visited, a:link, a:active { text-decoration: none;  }
ul {
    margin: 0;
    list-style-type: inside;
}
a:hover {
    transition: 0.3s;
    color:#4e04a9;
}
a {
    cursor: pointer !important;
}
.star {
    padding: 0 5px;
    height: 24px;
    line-height: 28px;
    position: relative;
    width: 8px;
    font-family: 'Times New Roman', Times, serif;
    -webkit-animation:spin 6s linear infinite;
    -moz-animation:spin 6s linear infinite;
    animation:spin 6s linear infinite;
}
.intro {
    position: fixed;
    z-index: 1;
    bottom: 0;
    font-size: 12px;
    text-align: left;
    background: #55b156;
    left: 0;
    color: #654201;
    padding: 10px;
    font-family: monospace;
    pointer-events: none;
}
.intro a {
    color: #392501;
}
.hover {
    margin-top: 0px;
    color: red;
    text-align: right;
    pointer-events: auto;
}
.intro:hover {
  opacity: 0;
}
header {
    display: flex;
    /* background: white;
    padding: 15px; */
    margin: 20px;
    color: #ff6b0094;
    position: relative;
    border:  none;
}
header div {
    display: flex;
}
header .end {
position: absolute;
right: 10px;
}
header .add {
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 80s;
}

.menu {
    width: 353px;
    background: white;
    padding: 15px;
    margin: 0 20px 0px 20px;
    display: flex;
    position: relative;
    border:  1px solid #ff6b0094;
}
.menu div {
    cursor: pointer;
}
#about-margin, #coming-margin, #previous-margin, #footer-margin {
    height: 20px;
    width: 100%;
    background-color: transparent;
}
#about {
    background: white;
    padding: 0;
    margin: 0px 20px 0px 20px;
    color: #ff6b0094;
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: left;
    max-width: 100%;
    border-top: 20px solid #ededed;
    border: 1px solid #ff6b0094;
}

#about a {
color: #ff6b0094;
}
#about .title {
    display: flex;
    padding: 15px;
    width: auto;
    border-bottom: 1px solid #ff6b0094;
    color: rgb(204 48 255);
}

#about .div1 {
    padding: 15px;
    width: auto;
    border-bottom: 1px solid #ff6b0094;
}
#about .div2 {
    padding: 15px;
    width: auto;
}
#coming {
    background: white;
    padding: 0;
    margin: 0px 20px 0px 20px;
    color: #ff6b0094;
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: left;
    border-top: 20px solid #ededed;
    border: 1px solid #ff6b0094;
    max-width: 100%;
}
#coming a {
    color: #ff6b0094;
}
#coming .title {
    display: flex;
    padding: 15px;
    width: auto;
    border-bottom: 1px solid #ff6b0094;
    color: rgb(204 48 255);
}
#coming .div1 {
    /* display: flex; */
    padding: 15px;
    width: auto;
    border-bottom: 1px solid #ff6b0094;
    flex-direction: column;
}
#coming .div-end {
    display: flex;
    padding: 15px;
    width: auto;
    border-bottom: none;
    flex-direction: column;
}
#coming .essay {
    width: 150px;
    height: 200px;
    background: #ff6b0094;
    margin: 10px 0 0 0;
}
#coming .web1 {
    width: 450px;
    height: 250px;
    background: #ffffff;
    border: 1px solid #ff6b0094;
    margin: 10px 0 0 0;
}
#coming .web2 {
    width: 450px;
    height: 250px;
    background: #ff6b0094;
    margin: 10px 0 0 0;
}
#coming img {
    padding-top: 15px;
    width: fit-content;
}

#previous {
    background: white;
    padding: 0;
    margin: 0px 20px 0px 20px;
    color: #ff6b0094;
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: left;
    border-top: 20px solid #ededed;
    border: 1px solid #ff6b0094;
}
#previous .title {
    display: flex;
    padding: 15px;
    width: auto;
    border-bottom: 1px solid #ff6b0094;
    color: rgb(204 48 255);
}
#previous .div1 {
    border-bottom: 1px solid #ff6b0094;
}
#previous .div-end {
    border-bottom: none;
}
 #previous .div1 .project-info {
    padding: 15px;
     display: flex;
}
#previous .div1 .project-info span:first-child {
   width: 20%;
}
#previous .div1 .project-info span:nth-child(2) {
    width: 20%;
 }
 #previous .div1 .project-info span:nth-child(3) {
    width: 30%;
 }
 #previous .div1 .project-info a,  #previous .div1 .project-info span:nth-child(4)  {
    width: 30%;
    text-align: right;
 }
#previous .div1 .project-info a {
   /* color: #ff6b0094; */
   color: rgb(204 48 255);
   font-weight: bold;

}
#previous .div1 .project-info a:hover {
    color: #ff6b0094;
    font-weight: bold;
 }
#previous .div1 .project  {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
 }
 #previous .div1 .project .project-txt {
    padding: 0 15px 15px 15px;
    width: 97%;
    font-size: 23px;
    line-height: 1.4;
 }
 .project-txt a {
    color: rgb(255 113 0);
 }
 .project-img {
    height: 800px;
    width: calc(100% - 20px);
    background-size: cover;
    background-blend-mode: hard-light;
    mix-blend-mode: multiply;
    background-color: #ff6b0094 ;
    background-repeat: no-repeat;
    background-position: center;
   }
   .ola:hover .project-img{
    background-color: rgb(204 48 255) ;
   }
   .project-img-dev {
    height: 400px;
    width: 719px;
    background-size: cover;
    background-blend-mode: hard-light;
    mix-blend-mode: multiply;
    background-color: #ff6b0094 ;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5px;
   }
   .project-img-dev:hover {
    background-color: rgb(204 48 255) ;
   }
 #previous .div1 .project .project-imgs .project-img {
    /* height: 500px;
    width: 98%;
    background-size: contain;
    background-blend-mode: hard-light;
    mix-blend-mode: multiply;
    background-color: #ff6b0094 ;
    background-repeat: no-repeat;
    background-position: center; */
   }
   #previous .div1 .project .project-imgs {
   position: relative;
    width: auto;
    border: none;
    flex-direction: column;
    /* background: white; */
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .slick-prev {
      display: none !important;
  }
.slick-next {
    position: absolute;
    top: 0;
    height: 450px;
    width: 100%;
    background: transparent;
    border: none;
    cursor: e-resize;
    z-index: 100000;
    color: transparent;
}



.fondante {
    max-height: 250px;
}

#footer {
    background: white;
    padding: 0;
    margin: 0px 20px 0px 20px;
    color: #ff6b0094;
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: left;
    border-top: 20px solid #ededed;
    margin-bottom: 30px;
    border: 1px solid #ff6b0094;
}
#footer .title {
    display: flex;
    padding: 15px;
    width: auto;
    border-bottom: 1px solid #ff6b0094;
    color: rgb(204 48 255);
}
.footer-lists {
    display: flex;
    border-bottom: 1px solid #ff6b0094;
    justify-content: space-evenly;
}
.footer-lists ul li {
    list-style: none;
}
.footer-lists .div {
    width: 30%;
    padding:  15px;
    border-right: 1px solid #ff6b0094;
}
.footer-lists .div:last-child {
    width: 30%;
    padding:  15px;
    border-right: none;
}
.footer-lists ul li i {
    font-size: 10px;
    color: #ff6b0094;
}
.footer-lists ul li i a {
    font-size: 10px;
    color: #ff6b0094;
}
.footer-lists ul li a {
    color: #ff6b0094;
}
.footer-i-do {
    /* height: 54px; */
    /* padding: 15px; */
    border-bottom: 1px solid #ff6b0094;
    position: relative;
}
.footer-i-do-ctn {
    display: flex;
    flex-direction: column;
    padding: 15px;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run2;
    -webkit-animation-duration: 10s;
    /* position: absolute; */
   
}
.footer-contact {
    padding: 15px;
    border-bottom: 1px solid #ff6b0094;
    position: relative;
}
.footer-helpful {
    padding: 15px;
}
.footer-helpful li {
    list-style: none;
}
.footer-helpful i a {
    color: #ff6b0094;
}

.footer-helpful i {
    font-size: 10px;
    color: #ff6b0094;
}
.footer-font {
    padding: 15px;
    border-top: 1px solid #ff6b0094;
}
.footer-font a {
    color: #ff6b0094;
}
/* mobile fuck ipads */
  @media only screen and (max-width: 767px) {
    iframe {
        max-width: 90vw;
    max-height: 200px;
    }
  body {
      padding: 0;
      font-size: 16px;
      line-height: 1.4;
  }
  .star {
    height: 11px;
    line-height: 16px;
    width: 4px;
  }

  #previous .div1 .project .project-imgs .project-img img {
    height: auto;
    width: calc(100% - 20px);

}
  .footer-i-do-ctn {
      animation: none;
      position: relative;
      flex-wrap: wrap;
  }
  #previous .div1 .project .project-txt {
    padding: 0 10px 10px 10px;
    width: auto;
    font-size: 16px;
}
.project-info {
    font-size: 16px;
}
.project-info {
    flex-direction: column;
}
#previous .div1 .project-info a, #previous .div1 .project-info span:nth-child(4), #previous .div1 .project-info span:nth-child(3), #previous .div1 .project-info span:nth-child(2), #previous .div1 .project-info span:first-child {
    width: auto;
    text-align: left;
}
  header, .menu,#about .div2,  #about .title, #about .div1, #coming .title,#coming .div1, #previous .title, #previous .div1 .project-info, #footer .title , .footer-i-do-ctn, .footer-contact, .footer-helpful{
    padding: 8px;
  }
  .footer-lists {
      flex-direction: column;
  }
  .footer-lists .div {
    width: auto;
    padding: 8px;
    border-bottom: 1px solid #ff6b0094;
    border-right: none;
}
.footer-lists .div:last-child {
    width: auto;
    padding: 8px;
    border-bottom: none;
    border-right: none;
}
.footer-i-do {
    /* height: 61px; */
}.old-web {
    margin-left: 0;
}
.menu {
    width: auto;
}
 #previous , #coming, #about, #coming{
    margin: 0 10px;
} 
header {
 margin: 0px;
}
.menu {
    margin: 10px 10px 0 10px;
}

#footer {
    margin: 0 10px 150px 10px;
}
.project-img-dev {
    height: 170px;
    max-width: 300px;
}
.hover {
    display: none;
}
.intro {
    font-size: 10px;
    padding: 5px;
}

  /* end responsive */
  }
  /* animations */
  @-moz-keyframes run {
    0% {
        left: 90px; 
    }
    50% { 
      left: calc(100% - 150px); 
     }
    100% {
        left: 90px; 
    }
  }
  @-webkit-keyframes run {
    0% {
        left: 90px; 
    }
    50% { 
      left: calc(100% - 150px); 
     }
    100% {
        left: 90px; 
    }
  }
@keyframes run {
    0% {
        left: 90px; 
    }
    50% { 
      left: calc(100% - 150px); 
     }
    100% {
        left: 90px; 
    }
  }

   @-moz-keyframes run2 {
    0% {
        left: 10px; 
    }
    50% { 
      left: calc(100% - 1000px); 
     }
    100% {
        left: 10px; 
    }
  }
  @-webkit-keyframes run2 {
    0% {
        left: 10px; 
    }
    50% { 
      left: calc(100% - 1000px); 
     }
    100% {
        left: 10px; 
    }
  } 
@keyframes run2 {
    0% {
        left: 10px; 
    }
    50% { 
      left: calc(100% - 1000px); 
     }
    100% {
        left: 10px; 
    }
  }
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}